*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cog {
    fill: rgb(233, 233, 84);
}

.thunder {
    fill: rgb(233, 233, 84);
}

.logo {
    display: grid
}

.cog, .thunder {
    grid-column: 1;
    grid-row: 1;
}

.cog {
    animation: spin 3s ease 1s 2 alternate;

}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #cecdcd;
    font-weight: 700;
    letter-spacing: 1.25px;
}

ul {
    list-style-type: none;
}

ul li:hover {
    color: rgb(233, 233, 84);
    cursor: pointer;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    color: #cecdcd;
}

.grid-container {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    background-image: url(../img/Car-BG.jpg);
    background-color: #070707;
    grid-template-columns: 100%;
    grid-template-rows: 9% 80% 11%;
    grid-template-areas:
        "nav"
        "products"
        "footer";
}

@media screen and (min-width: 576px) {
    .grid-container {
        grid-template-areas:
            "nav image-gallery"
            "nav products"
            "footer footer";
        grid-template-columns: 300px auto;
        grid-template-rows: auto auto 15%;
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    grid-area: nav;
    background-color: none;
    color: #cecdcd;
}

@media screen and (max-width: 576px) {
    .menu-list {
        display: none;
    }
    .product-gallery {
        overflow-y: auto;
    }
    main.image-gallery {
        display: none;
    }
    nav {
        border-bottom: thin solid rgb(255, 255, 255, 0.1);
    }
    .brand p {
        font-size: 20px;
        letter-spacing: 0.5px;
    }
    .brand svg {
        max-width: 40px;
    }
}

@media screen and (min-width: 576px) {
    .brand svg {
        max-width: 56px;
    }

    nav {
        flex-direction: column;
        justify-content: flex-start;
        gap: 80px;
        margin-top: 24px;
    }

    .brand p {
        font-size: 28px;
        letter-spacing: 0.75px;
        padding-left: 8px;
    }

    .brand i {
        font-size: 32px;
    }

    .menu i {
        display: none;
    }
}

.image-gallery {
    grid-area: image-gallery;
    height: min-content;
    gap: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px 24px 24px 24px;
    background-color: none;
}

.image-gallery-container {
    display: flex;
    height: 600px;
    width: 100%;
    gap: 24px;
}

.image-container {
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.5s ease-out;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.image-container img {
    border: 2px solid rgb(255, 255, 255, 0.3);
}

.image-container:not(:first-child) img {
    filter: grayscale(100%);
}

.image-container:not(:first-child) img:hover {
    filter: grayscale(0%);
}

.image-container:hover {
    flex-basis: 50%;
}

.active {
    flex-basis: 50%;
}

.image-gallery-container:hover .active {
    flex-basis: 0;
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%);
    }
}

.image-container:nth-child(1):hover {
    flex-basis: 50%;
}

.products {
    grid-area: products;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

@media screen and (min-width: 576px) {
    .products {
        margin-bottom: 40px;
        padding: 0;
    }
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.product-gallery {
    width: 100%;
    height: auto;
    background-color: none;
    display: grid;
    gap: 32px;
    padding-bottom: 8px;
}

@media screen and (min-width: 576px) {
    .product-gallery {
        grid-template-columns: repeat(4, 1fr);
        padding: 24px;
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 32px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0.5px rgba(0, 0, 0, 0.15);
}

.product-image {
    height: 100%;
    padding: 24px;
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.product-name {
    padding-bottom: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #aaaaaa;
}

.product-CTA-button {
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(233, 233, 84);
    color: #c4c4c4;
    letter-spacing: 1px;
    width: fit-content;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
}

.product-CTA-button:hover {
    background-color: rgb(233, 233, 84);
    color: #070707;
    font-weight: 700;
    cursor: pointer;
}

.product-pagination {
    width: fit-content;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .product-pagination:hover .product-pagination-button{
    border: none;
} */

.product-pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-color: rgb(78, 78, 78);
    border-style: solid none solid solid;
    border-width: 2px;
}

.product-pagination-button:hover {
    background-color: rgb(233, 233, 84);
    border-style: solid;
    border-color: rgb(233, 233, 84);
    color: #070707;
    cursor: pointer;
}

.product-pagination-button:last-of-type {
    border-right: solid rgb(78, 78, 78);
    border-width: 2px;
}

.product-pagination-button:last-of-type:hover {
    border-color: rgb(233, 233, 84);
}

.button-label {
    color: #c4c4c4;
}

.product-pagination-button:hover .button-label {
    color: #070707;
    font-weight: 700;
}

footer {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #141414;
    color: #cecdcd;
    padding: 0;
    text-align: center;
}

@media screen and (min-width: 576px) {
    footer {
        gap: 12px;
        padding: 32px;
    }
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 22px;
}

.fa-instagram {
    vertical-align: middle;
    font-size: 22px;
}

.fa-facebook {
    font-size: 20px;
}

footer p {
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 150%;
}
